@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- /CV Content Side -->
<div class="cv__content">

    <section id="hero-header" class="section_header">
        <div class="content">
            <div class="left_hero_header">
                <div class="circle">
                    <div class="bg_img" data-bg-img="img/header/1.jpg"></div>
                    <img src="img/thumb/square.jpg" alt="" />
                    <div class="circle_holder_blue"><span></span></div>
                    <div class="circle_holder_orange"><span></span></div>
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="right_hero_header">
                <div class="my_self">
                    <h4>Hello! I'm a</h4>
                    <h2>
                        <!-- It is animation title. You can change animation variation by changing extra class to one of next classes: zoom, rotate-1, letters type, letters rotate-2, loading-bar, slide, clip, letters rotate-3, letters scale, push. cd-headline class can not be removed.  -->
                        <span class="cd-headline clip">
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Designer</b>
                                <b>Developer</b>
                                <b>Freelancer</b>
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
        </div>
    </section>


    @await Component.InvokeAsync("Biography")
    @await Component.InvokeAsync("Education")
    @await Component.InvokeAsync("Experience")
    @await Component.InvokeAsync("Skill")
    @await Component.InvokeAsync("Service")

    <section id="cv_portfolio">
        <div class="section_title">
            <h3>Portfolio</h3>
        </div>
        <div class="fn_cs_portfolio">
            @await Component.InvokeAsync("PortfolioCategory")
            @await Component.InvokeAsync("Portfolio")
        </div>
    </section>

    @await Component.InvokeAsync("Article")



    <section id="contact" class="section_contact">
        <div class="section_title">
            <h3>Contact Me</h3>
        </div>
        <form class="contact_form" action="/" method="post" autocomplete="off" data-email="frenifyteam@gmail.com">

            <!--
                Don't remove below code in avoid to work contact form properly.
                You can chance dat-success value with your one. It will be used when user will try to contact via contact form and will get success message.
            -->
            <div class="success" data-success="Your message has been received, we will contact you soon."></div>
            <div class="empty_notice"><span>Please Fill Required Fields!</span></div>
            <!-- -->

            <div class="items_wrap">
                <div class="items">
                    <div class="item half">
                        <div class="input_wrapper">
                            <input id="name" type="text" placeholder="Name *" />
                        </div>
                    </div>
                    <div class="item half">
                        <div class="input_wrapper">
                            <input id="email" type="email" placeholder="Email *" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="input_wrapper">
                            <input id="phone" type="text" placeholder="Phone" />
                        </div>
                    </div>
                    <div class="item">
                        <div class="input_wrapper">
                            <textarea id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="item">
                        <a id="send_message" href="#">Send Message</a>
                    </div>
                </div>
            </div>
        </form>
    </section>


</div>
<!-- /CV Content Side -->