<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maral Mosafer</title>
    
	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

	<!-- Styles -->
	<link type="text/css" rel="stylesheet" href="~/css/base.css?ver=4" />
	<link type="text/css" rel="stylesheet" href="~/css/magnific.css?ver=4" />
	<link type="text/css" rel="stylesheet" href="~/css/animated-headlines.css?ver=4" />
	<link type="text/css" rel="stylesheet" href="~/css/style.css?ver=4" />
</head>

<body>

	<div class="deebo_fn_main">

		<div class="right_bar_overlay"></div>

		<div class="deebo_fn_modalbox">
			<a class="extra_closer" href="#"></a>
			<div class="box_inner">
				<a class="closer" href="#"><span></span></a>
				<div class="modal_content">

					<div class="modal_in">
					</div>

					<div class="fn__nav" data-from="" data-index="">
						<a href="#" class="prev">
							<span class="text">Prev</span>
							<span class="arrow_wrapper"><span class="arrow"></span></span>
						</a>
						<a href="#" class="next">
							<span class="text">Next</span>
							<span class="arrow_wrapper"><span class="arrow"></span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="right_bar_overlay"></div>

		<div class="deebo_fn_cv">

			<div class="deebo_fn__cv">

				<div class="cv__bg"></div>
				<div class="cv__bg2"></div>

				@await Component.InvokeAsync("CvHeader")
				@RenderBody()


			</div>
		</div>



	</div>

	<!-- Scripts -->
	<script type="text/javascript" src="~/js/jquery.js?ver=4"></script>
	<script type="text/javascript" src="~/js/isotope.js"></script>
	<script type="text/javascript" src="~/js/magnific.js"></script>
	<script type="text/javascript" src="~/js/animated-headlines.js?ver=4"></script>
	<script type="text/javascript" src="~/js/waypoints.js?ver=4"></script>
	<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
	<script type="text/javascript" src="~/js/init.js?ver=4"></script>
	<!-- /Scripts -->

</body>

</html>