@page
@model ServiceHost.Areas.Administration.Pages.Account.IndexModel
@{
    ViewData["Title"] = "Account";
}

<div id="MainModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-secondary" id="ModalContent">
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row bg-secondary rounded align-items-center justify-content-center mx-0">
        <h6 class="mb-5 mt-5">Accounts</h6>

        @if (Model.Message != null)
        {
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <i class="fa fa-close me-2"></i>@Model.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form role="form" method="post" asp-page-handler="Create" enctype="multipart/form-data" class="m-5">

            <div class="form-floating mb-3">
                <input type="text" name="Fullname" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Fullname</label>
            </div>

            <div class="form-floating mb-3">
                <input type="email" name="Email" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" name="Password" class="form-control" id="floatingInput" required>
                <label for="floatingInput">Password</label>
            </div>

            <div class="mb-3">
                <label for="formFile" name="ProfilePicture" class="form-label">Picture</label>
                <input type="file" name="ProfilePicture" class="form-control form-control-sm bg-dark" id="formFileSm" accept="image/*" required>
            </div>

            <button type="submit" class="btn btn-success m-2">Save</button>
        </form>

        <table class="able table-hover m-5">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center">Picture</th>
                    <th scope="col" class="text-center">Fullname</th>
                    <th scope="col" class="text-center">Email</th>
                    <th scope="col" class="text-center">Opertions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model.Accounts)
                {
                    <tr>
                        <th scope="row" class="text-center">@account.Id</th>
                        <td class="text-center">
                            <div class="d-flex justify-content-center">
                                <img src="~/Images/@account.ProfilePicture" width="90" height="100" />
                            </div>
                        </td>
                        <td class="text-center">@account.Fullname</td>
                        <td class="text-center">@account.Email</td>
                        <td class="text-center">
                            <a class="btn btn-warning m-2" href="#showmodal=@Url.Page("./Index", "Edit", new { id = account.Id})">
                                Edit
                            </a>
                            <a class="btn btn-warning m-2"
                               href="#showmodal=@Url.Page("./Index", "ChangePassword", new { id = account.Id})">
                                <i class="fa fa-key"></i> Change Password
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>